addict==2.4.0
datasets==2.14.5
jiwer==3.0.3
librosa==0.9.1
matplotlib==3.4.3
Models==0.9.7
numpy==1.22.2
openai_whisper==20230314
pandas==1.4.2
python_Levenshtein==0.25.0
scikit_learn==1.4.1.post1
scipy==1.8.0
tensorboardX==2.6.2.2
torch==1.7.1+cu110
torchvision==0.8.2+cu110
tqdm==4.64.0
transformers==4.37.2
whisper==1.1.10
